{{template "base.html" .}}

{{define "title"}}
<title>课程管理</title>
{{end}}

{{define "content"}}
<h3>课程管理</h3><br>
<p><a href="/course/add" class="btn btn-primary">添加课程</a></p>

<style>
    table th, tr td {
        text-align: center;
    }
</style>


<table class="table table-bordered">
    <th>课程</th>
    <th>学分</th>
    <th>学时</th>
    <th>授课老师</th>
    <th>编辑</th>
    <th>删除</th>
    {{range $course := .courses}}
    <tr>
        <td>{{$course.Name}}</td>
        <td>{{$course.Credit}}</td>
        <td>{{$course.Period}}</td>
        <td>{{$course.Teacher.Name}}</td>
        <td></td>
        <td></td>
        {{end}}
    </tr>
</table>
{{end}}
