{{template "base.html" .}}


{{define "nav"}}
<div class="navbar-header">
    <!-- The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation -->
    <a class="navbar-brand" href="/student/">学生选课系统</a>
</div>
<div id="navbar">
    <ul class="nav navbar-nav">
        <li><a href="/student/{{.student.Sno}}">个人详情</a></li>
        <li><a href="/student/{{.student.Sno}}/selectCourse">选课系统</a></li>
    </ul>
</div>
{{end}}





{{define "menu"}}
<div class="panel panel-default">
    <div class="panel-heading">Hello，{{.student.Name}}</div>
    <div class="panel-body">
        <p><a href="/student/{{.student.Sno}}">个人详情</a></p>
        <p><a href="/student/{{.student.Sno}}/selectCourse">选课系统</a></p>
    </div>
</div>
{{end}}

{{define "content"}}
<style>
    table th,tr td {
        text-align: center;
    }
</style>
<table class="table table-bordered">
    <tr>
        <td class="info" colspan="8">个人信息</td>
    </tr>
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>密码</th>
        <th>班级</th>
        <th>电话</th>
        <th>出生日期</th>
    </tr>
    <tr>
        <td>{{.student.Sno}}</td>
        <td>{{.student.Name}}</td>
        <td>{{.student.Gender}}</td>
        <td>{{.student.Age}}</td>
        <td>{{.student.Pwd}}</td>
        <td>{{.student.Class.Name}}</td>
        <td>{{.student.Tel}}</td>
        <td>{{.student.Birth}}</td>
    </tr>
</table>

<br><br>

<table class="table table-bordered">
    <tr>
        <td class="success" colspan="5">已选课程</td>
    </tr>
    <tr>
        <th>课程名称</th>
        <th>学分</th>
        <th>学时</th>
        <th>授课教师</th>
        <th>取消已选课程</th>
    </tr>
    {{$studentSno := .student.Sno}}
    {{range $course := .selectCourses}}
    <tr>
        <td>{{$course.Name}}</td>
        <td>{{$course.Credit}}</td>
        <td>{{$course.Period}}</td>
        <td>{{$course.Teacher.Name}}</td>
        <td><a href="/student/{{$studentSno}}/deleteCourse/{{$course.ID}}"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    {{end}}

</table>
{{end}}


