<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>学生选课系统</title>
    <link rel="stylesheet" media="screen" href="/static/css/login.css">
</head>
<body>
<!-- particles.js container -->
<div id="particles-js" style="display: flex;align-items: center;justify-content: center">
    <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="472" height="625"></canvas>
</div>
<div class="apTitle">学生选课系统管理中心</div>
<div class="logcon">
    <form action="" method="post">
        <input type="text" placeholder="账号" name="account">
        <input type="password" placeholder="密码" name="password">
        <button type="submit">登录</button>
    </form>
</div>


<!-- scripts -->
<script src="/static/js/login.js"></script>
<script src="/static/js/loginApp.js"></script>
<script>
    function changeImg() {
        let pic = document.getElementById('picture');
        console.log(pic.src)
        if (pic.getAttribute("src", 2) == "img/check.png") {
            pic.src = "img/checked.png"
        } else {
            pic.src = "img/check.png"
        }
    }

</script>

</body>
</html>
